In [2]:
import os
import pandas as  pd 
import numpy as np 
import requests, zipfile

In [13]:
train=pd.read_csv('/kaggle/input/wifi-data/Train (17).csv')
test=pd.read_csv('/kaggle/input/wifi-data/Test (18).csv')
sub=pd.read_csv('/kaggle/input/wifi-data/SampleSubmission (13).csv')
tt=pd.read_csv('/kaggle/input/wifi-data/TrainTargets.csv')

In [14]:
tt

                                        ID  Target
0         Deployment10000_TXOP100_AP3_STA9   108.0
1        Deployment10000_TXOP100_AP4_STA13   348.0
2        Deployment10000_TXOP100_AP9_STA36   210.0
3         Deployment10000_TXOP10_AP3_STA11   156.0
4         Deployment10000_TXOP10_AP7_STA25     0.0
...                                    ...     ...
1749591       Deployment9_TXOP99_AP6_STA22   258.0
1749592         Deployment9_TXOP9_AP1_STA1   156.0
1749593        Deployment9_TXOP9_AP5_STA17   156.0
1749594        Deployment9_TXOP9_AP6_STA23    54.0
1749595        Deployment9_TXOP9_AP9_STA35   108.0

[1749596 rows x 2 columns]

In [12]:
sub

                                      ID  Target
0       Deployment1000_TXOP100_AP6_STA17       0
1        Deployment1000_TXOP10_AP6_STA17       0
2        Deployment1000_TXOP10_AP8_STA23       0
3         Deployment1000_TXOP11_AP1_STA3       0
4         Deployment1000_TXOP12_AP2_STA5       0
...                                  ...     ...
749919     Deployment99_TXOP97_AP6_STA24       0
749920     Deployment99_TXOP97_AP7_STA27       0
749921     Deployment99_TXOP98_AP3_STA12       0
749922      Deployment99_TXOP99_AP2_STA8       0
749923      Deployment99_TXOP9_AP6_STA22       0

[749924 rows x 2 columns]

In [9]:
test

,Unnamed: 0,AP1,AP2,AP3,AP4,AP5,AP6,AP7,AP8,AP9,Deployment
0,STA1,-62.11,-76.55,-86.60,-79.89,-83.42,-89.11,-88.56,-89.87,-92.84,9373
1,STA2,-64.61,-81.01,-89.20,-77.03,-84.14,-90.42,-86.73,-89.46,-93.21,9373
2,STA3,-67.19,-67.19,-82.19,-79.89,-79.89,-85.82,-88.26,-88.26,-90.78,9373
3,STA4,-62.11,-76.55,-86.60,-79.89,-83.42,-89.11,-88.56,-89.87,-92.84,9373
4,STA5,-79.13,-63.71,-73.51,-80.89,-71.07,-76.83,-87.04,-84.07,-85.48,9373
...,...,...,...,...,...,...,...,...,...,...,...
382003,TXOP96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,17.00,5144
382004,TXOP97,0.00,0.00,0.00,0.00,0.00,0.00,14.00,0.00,0.00,5144
382005,TXOP98,0.00,3.00,5.00,8.00,10.00,0.00,0.00,0.00,0.00,5144
382006,TXOP99,0.00,0.00,5.00,0.00,0.00,0.00,0.00,0.00,17.00,5144
382007,TXOP100,0.00,0.00,0.00,7.00,0.00,0.00,0.00,16.00,0.00,5144

In [4]:
train

,Unnamed: 0,AP1,AP2,AP3,AP4,AP5,AP6,AP7,AP8,AP9,TP1,TP2,TP3,TP4,TP5,TP6,TP7,TP8,TP9,Deployment
0,STA1,-64.87,-75.67,-85.98,-68.34,-77.09,-86.38,-83.07,-85.13,-89.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9391
1,STA2,-79.89,-67.19,-75.01,-79.89,-67.19,-75.01,-85.82,-82.19,-83.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9391
2,STA3,-87.19,-77.41,-55.58,-88.46,-81.24,-74.39,-91.72,-87.85,-85.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9391
3,STA4,-81.35,-82.71,-87.90,-66.55,-72.62,-84.37,-69.83,-74.66,-84.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9391
4,STA5,-85.33,-82.09,-84.40,-78.77,-66.72,-76.34,-78.77,-66.72,-76.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888392,TXOP96,0.00,3.00,0.00,0.00,9.00,0.00,0.00,0.00,0.00,0.0,210.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,3934
888393,TXOP97,0.00,3.00,5.00,0.00,9.00,0.00,0.00,0.00,17.00,0.0,156.0,30.0,0.0,54.0,0.0,0.0,0.0,234.0,3934
888394,TXOP98,2.00,0.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,156.0,0.0,156.0,0.0,0.0,0.0,0.0,0.0,0.0,3934
888395,TXOP99,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,312.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3934
888396,TXOP100,0.00,3.00,0.00,7.00,9.00,0.00,0.00,15.00,0.00,0.0,156.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,3934

In [6]:
train.isna().sum()

Unnamed: 0         0
AP1                0
AP2                0
AP3                0
AP4                0
AP5                0
AP6                0
AP7                0
AP8                0
AP9                0
TP1           188397
TP2           188397
TP3           188397
TP4           188397
TP5           188397
TP6           188397
TP7           188397
TP8           188397
TP9           188397
Deployment         0
dtype: int64

In [20]:
def preprocess(data,is_train=True):

  dep=data['Deployment'].unique()
  rows=[]
  for dd in dep:
    df=data[data.Deployment==dd]
    
    toxp_map=dict()
    rssi_map=dict()
    flag=0
    for i, j in df.iterrows():
        if('STA' in j[0]):
          rssi_map[j[0]]={f'AP{i}':j[i] for i in range(1,10)}
        else:
          toxp_map[j[0]]={(j.index[i],'STA'+str(int(j[i]))) for i in range(1,10)}

    
    for exp,elems in toxp_map.items():
      rows1=[]
      for e in elems:
        row=[dd,exp]
        if(e[-1]!='STA0'):
          row.extend([e[0],e[1],rssi_map[e[-1]][e[0]]])
          rows.append(row)
  

      #rows.extend(rows1)
    
  data=pd.DataFrame(rows)
  data.columns = ['Deployment','TXOP','mainAP','mainSTA','mainRSSI']
  data['ID']='Deployment'+data['Deployment'].astype(str)+'_'+data['TXOP']+'_'+data['mainAP']+'_'+data['mainSTA']
  if(is_train):
    tt=pd.read_csv('/kaggle/input/wifi-data/TrainTargets.csv')
    data=pd.merge(data,tt,on='ID')
  
  
  return data

In [38]:
trainn=preprocess(train)
test=preprocess(test,False)

In [22]:
trainn

,Deployment,TXOP,mainAP,mainSTA,mainRSSI,ID,Target
0,9391,TXOP1,AP1,STA1,-64.87,Deployment9391_TXOP1_AP1_STA1,30.0
1,9391,TXOP1,AP2,STA2,-67.19,Deployment9391_TXOP1_AP2_STA2,0.0
2,9391,TXOP1,AP7,STA7,-63.71,Deployment9391_TXOP1_AP7_STA7,108.0
3,9391,TXOP1,AP5,STA5,-66.72,Deployment9391_TXOP1_AP5_STA5,54.0
4,9391,TXOP2,AP1,STA1,-64.87,Deployment9391_TXOP2_AP1_STA1,54.0
...,...,...,...,...,...,...,...
1749591,3934,TXOP99,AP1,STA2,-65.12,Deployment3934_TXOP99_AP1_STA2,312.0
1749592,3934,TXOP100,AP2,STA3,-52.57,Deployment3934_TXOP100_AP2_STA3,156.0
1749593,3934,TXOP100,AP4,STA7,-66.72,Deployment3934_TXOP100_AP4_STA7,30.0
1749594,3934,TXOP100,AP5,STA9,-64.87,Deployment3934_TXOP100_AP5_STA9,0.0
1749595,3934,TXOP100,AP8,STA15,-67.62,Deployment3934_TXOP100_AP8_STA15,0.0

In [39]:
test

,Deployment,TXOP,mainAP,mainSTA,mainRSSI,ID
0,9373,TXOP1,AP9,STA35,-69.12,Deployment9373_TXOP1_AP9_STA35
1,9373,TXOP2,AP1,STA3,-67.19,Deployment9373_TXOP2_AP1_STA3
2,9373,TXOP2,AP4,STA13,-64.87,Deployment9373_TXOP2_AP4_STA13
3,9373,TXOP2,AP3,STA9,-63.71,Deployment9373_TXOP2_AP3_STA9
4,9373,TXOP3,AP4,STA14,-65.58,Deployment9373_TXOP3_AP4_STA14
...,...,...,...,...,...,...
749919,5144,TXOP98,AP3,STA5,-63.71,Deployment5144_TXOP98_AP3_STA5
749920,5144,TXOP99,AP3,STA5,-63.71,Deployment5144_TXOP99_AP3_STA5
749921,5144,TXOP99,AP9,STA17,-65.58,Deployment5144_TXOP99_AP9_STA17
749922,5144,TXOP100,AP8,STA16,-64.61,Deployment5144_TXOP100_AP8_STA16
749923,5144,TXOP100,AP4,STA7,-69.12,Deployment5144_TXOP100_AP4_STA7

In [48]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error as mse


folds = KFold(n_splits = 5)

predictions = []
losses = []
X=trainn[['mainRSSI']]
y=trainn['Target']
X_ts=test[['mainRSSI']]

for i,( train_index, test_index) in enumerate(folds.split(X, y)):
  print(50*'--')
  print(f'Fold {i+1}/5')
  print(50*'--')
  X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], y.iloc[train_index], y.iloc[test_index]

  # Train model
  model =LGBMRegressor(n_estimators=1000)
  model.fit(X_train,y_train)
  # Make predictions
  preds = model.predict(X_ts)
  y_pred = model.predict(X_test)
  # Append predictions and losses
  predictions.append(preds)
  loss = mse(y_test, y_pred,squared=False)
  # Print loss
  print(f'{i+1}:  {loss}\n')
  losses.append(loss)
  
print(f'Mean loss  {np.mean(losses)}')

----------------------------------------------------------------------------------------------------
Fold 1/5
----------------------------------------------------------------------------------------------------
1:  86.28696878519153

----------------------------------------------------------------------------------------------------
Fold 2/5
----------------------------------------------------------------------------------------------------
2:  86.40888273806155

----------------------------------------------------------------------------------------------------
Fold 3/5
----------------------------------------------------------------------------------------------------
3:  86.44294610574075

----------------------------------------------------------------------------------------------------
Fold 4/5
----------------------------------------------------------------------------------------------------
4:  86.2322014580954

----------------------------------------------------------------------------------------------------
Fold 5/5
----------------------------------------------------------------------------------------------------
5:  86.5914931955002

Mean loss  86.39249845651788

In [49]:
#Making submission
ss=test[['ID']]
ss['Target']=np.mean(predictions,0)
ss

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                      ID      Target
0         Deployment9373_TXOP1_AP9_STA35   68.565325
1          Deployment9373_TXOP2_AP1_STA3   79.698668
2         Deployment9373_TXOP2_AP4_STA13  101.279049
3          Deployment9373_TXOP2_AP3_STA9  114.407521
4         Deployment9373_TXOP3_AP4_STA14   89.033459
...                                  ...         ...
749919    Deployment5144_TXOP98_AP3_STA5  114.407521
749920    Deployment5144_TXOP99_AP3_STA5  114.407521
749921   Deployment5144_TXOP99_AP9_STA17   89.033459
749922  Deployment5144_TXOP100_AP8_STA16  102.776803
749923   Deployment5144_TXOP100_AP4_STA7   68.565325

[749924 rows x 2 columns]

In [50]:
ss['Target']=ss['Target'].astype(np.float16)#Otherwise file will be too large

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
from IPython.display import FileLink
def create_submission(submission_file, submission_name):
    submission_file.to_csv(submission_name+".csv",index=False)
    return FileLink(submission_name+".csv")
create_submission(ss, "sub0")

/kaggle/working/sub0.csv

****

In [52]:
trainn

,Deployment,TXOP,mainAP,mainSTA,mainRSSI,ID,Target
0,9391,TXOP1,AP1,STA1,-64.87,Deployment9391_TXOP1_AP1_STA1,30.0
1,9391,TXOP1,AP2,STA2,-67.19,Deployment9391_TXOP1_AP2_STA2,0.0
2,9391,TXOP1,AP7,STA7,-63.71,Deployment9391_TXOP1_AP7_STA7,108.0
3,9391,TXOP1,AP5,STA5,-66.72,Deployment9391_TXOP1_AP5_STA5,54.0
4,9391,TXOP2,AP1,STA1,-64.87,Deployment9391_TXOP2_AP1_STA1,54.0
...,...,...,...,...,...,...,...
1749591,3934,TXOP99,AP1,STA2,-65.12,Deployment3934_TXOP99_AP1_STA2,312.0
1749592,3934,TXOP100,AP2,STA3,-52.57,Deployment3934_TXOP100_AP2_STA3,156.0
1749593,3934,TXOP100,AP4,STA7,-66.72,Deployment3934_TXOP100_AP4_STA7,30.0
1749594,3934,TXOP100,AP5,STA9,-64.87,Deployment3934_TXOP100_AP5_STA9,0.0
1749595,3934,TXOP100,AP8,STA15,-67.62,Deployment3934_TXOP100_AP8_STA15,0.0

In [54]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

trainn['mainSTA']= LE.fit_transform(trainn['mainSTA'])
test['mainSTA']= LE.transform(test['mainSTA'])

trainn['TXOP']= LE.fit_transform(trainn['TXOP'])
test['TXOP']= LE.transform(test['TXOP'])

trainn['mainAP']= LE.fit_transform(trainn['mainAP'])
test['mainAP']= LE.transform(test['mainAP'])

In [56]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error as mse


folds = KFold(n_splits = 5)

predictions = []
losses = []
X=trainn.drop(["Target","ID"], axis=1)
y=trainn['Target']
X_ts=test.drop(["ID"], axis=1)

for i,( train_index, test_index) in enumerate(folds.split(X, y)):
  print(50*'--')
  print(f'Fold {i+1}/5')
  print(50*'--')
  X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], y.iloc[train_index], y.iloc[test_index]

  # Train model
  model =LGBMRegressor(n_estimators=1000)
  model.fit(X_train,y_train)
  # Make predictions
  preds = model.predict(X_ts)
  y_pred = model.predict(X_test)
  # Append predictions and losses
  predictions.append(preds)
  loss = mse(y_test, y_pred,squared=False)
  # Print loss
  print(f'{i+1}:  {loss}\n')
  losses.append(loss)
  
print(f'Mean loss  {np.mean(losses)}')

----------------------------------------------------------------------------------------------------
Fold 1/5
----------------------------------------------------------------------------------------------------
1:  85.63660049014025

----------------------------------------------------------------------------------------------------
Fold 2/5
----------------------------------------------------------------------------------------------------
2:  85.14107920037713

----------------------------------------------------------------------------------------------------
Fold 3/5
----------------------------------------------------------------------------------------------------
3:  85.15851518547416

----------------------------------------------------------------------------------------------------
Fold 4/5
----------------------------------------------------------------------------------------------------
4:  85.05791147307373

----------------------------------------------------------------------------------------------------
Fold 5/5
----------------------------------------------------------------------------------------------------
5:  85.49896612618869

Mean loss  85.2986144950508

In [57]:
#Making submission
ss=test[['ID']]
ss['Target']=np.mean(predictions,0)
ss

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
ss['Target']=ss['Target'].astype(np.float16)#Otherwise file will be too large

In [58]:
from IPython.display import FileLink
def create_submission(submission_file, submission_name):
    submission_file.to_csv(submission_name+".csv",index=False)
    return FileLink(submission_name+".csv")
create_submission(ss, "sub1")

/kaggle/working/sub1.csv